body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-shadow-box: rgb(153, 0, 255);
  --color-shadow-box-black: #000;
  --color-purple: rgb(143, 70, 211);
  --color-dark-purple: rgb(62, 10, 105);
  --color-background: #fefeff;
}